body {
    font-family: 'Poppins', sans-serif;

}


h1,
h2,
h3 {
    font-family: 'Lexend', sans-serif;
}

h1,
h2 {
    margin-bottom: 20pt;
    font-weight: bold;
}

h3,
h4 {
    margin-bottom: 10pt;
}

h5 {
    margin: 0;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/background.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.social-link {
    color: inherit;
    text-decoration: none;
    margin: 0 5px;
    font-size: 20px;
}

a {
    color: inherit;
}

a:hover {
    font-weight: 200;
    text-decoration: none;
}

#publications li,
#projects li,
#service li {
    margin-bottom: 10pt;
}

#research-interests p {
    font-size: normal;
}