body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding-top: 50px !important;
    line-height: 2;
}

h1,
h2,
h3 {
    font-family: 'Lexend', sans-serif;
    font-weight: bold;

}

#research-interests{
    border: none;
}

.card-header{
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
}


#bar_name {
    font-family: Lexend, sans-serif;
}

ul {
    list-style-type: square;
}

li{
    margin-bottom: 15px;
}

.social-link {
    color: inherit;
    text-decoration: none;
    margin: 0 5px;
    font-size: 20px;

}

a {
    color: inherit;
}

a:hover {
    /* font-weight: ; */
    text-decoration: none;
}

#photo-bio-box{
    margin-top: 100px;

}

.nav-link{
    font-size: 16px;
}

.nav-link:hover{
    font-weight: normal;
}