<a href="mailto:marco.pettorali@ing.unipi.it" class="social-link"><i
    class="fa fa-envelope" aria-hidden="true"></i></a>
<a href="https://scholar.google.com/citations?user=F3pN-DQAAAAJ&hl=it" class="social-link"><i
    class="fa-brands fa-google-scholar" aria-hidden="true"></i></a>
<a href="https://github.com/marcopettorali" class="social-link"><i
    class="fa-brands fa-github" aria-hidden="true"></i></a>

<a href="https://www.linkedin.com/in/marco-pettorali-9bb78a228" class="social-link"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
<br><br>